@using System.Web.Mvc;
@using System.Web.Mvc.Html;

@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <h1>Get your names here!</h1>
    @using (Html.BeginForm("GetNames", "Name", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-4">
                @{ Html.RenderAction("GetGenderDropdown", "Name"); }
            </div>
            <div class="col-md-4">
                @{ Html.RenderAction("GetTypeDropdown", "Name"); }
            </div>
            <div class="col-md-4">
                <label for="name-amount">Amount of names</label>
                <input type="number" id="name-amount" name="nameAmountData" value="10" min="0">
            </div>
        </div>
        <input type="submit" name="submit" value="Hämta namn" />
    }

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <ul>
                @foreach (var name in ViewBag.Names)
                {
                    <li>@name.FirstName @name.LastName, @name.Gender</li>
                    }
            </ul>
        </div>
    </div>
</div>